/* Удалить все текущие стили и оставить только необходимое */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: left;
}

/* Если нужны какие-то другие общие стили, добавляйте их здесь */